* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popping", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f172a;
}

.container {
    width: 22rem;
    margin-top: 8rem;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}